:root {
  --main-color: #060a3a;
  --border-color: #f72585;
  --links-color: #2196f3;
  /*under line*/
  --underline: #b5179e;
  --space: 6rem;
}
* {
  box-sizing: border-box;
}
.row {
  --bs-gutter-x: 0rem !important;
}
body {
  height: 2000px;
}
/* landing pae */
.landin-page {
  min-height: 100vh;
  position: relative;
  background-color: #fff;
}
.landin-page .header {
  position: relative;
  display: flex;
  padding: 15px 0;
}
.landin-page .header .logo {
  font-weight: bold;
  font-size: 35px;
  width: 300px;
  padding: 15px;
  color: var(--main-color);
}
.landin-page .header .logo span {
  color: var(--border-color);
  margin: 0;
}
.landin-page .header .linkes-container {
  width: 100%;
  text-align: right;
}
.landin-page .header .links {
  list-style: none;
  font-size: 15px;
  display: none;
}
.landin-page .header .links.open {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  background-color: var(--main-color);
  border-radius: 5px;
  left: 0;
  width: 100%;
  top: 85px;
  padding: 10px;
}
.landin-page .header .links li {
  display: block;
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 10px;
}
.landin-page .header .links li:hover {
  border-bottom: 2px solid var(--border-color);
}

.landin-page .header .links li a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}
.landin-page .header .toggle-lins {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 25px;
  position: relative;
}
.landin-page .header .toggle-lins.toggle::before {
  content: "";
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent var(--main-color) transparent;
  left: 10px;
  bottom: -10px;
  width: 0;
  height: 0;
}
.landin-page .header .toggle-lins i {
  color: var(--main-color);
}
.landin-page .intro-text {
  margin-top: 65px;
  margin-bottom: 65px;
}
.landin-page .intro-text p {
  color: var(--main-color);
  line-height: 1;
  max-width: 60%;
  font-size: 40px;
  font-weight: 600;
}

.landin-page .intro-text ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 15%;
  padding: 0;
  margin-top: 30px;
  font-weight: 600;
  color: var(--main-color);
}
.landin-page .intro-text ul li {
  text-transform: capitalize;
}
.landin-page .intro-text ul li:hover {
  border-bottom: 3px solid var(--border-color);
  cursor: pointer;
}
@media (max-width: 991px) {
  .landin-page .intro-text ul {
    width: 20%;
  }
}
@media (max-width: 787px) {
  .landin-page .intro-text ul {
    width: 30%;
  }
}
@media (max-width: 575px) {
  .landin-page .intro-text ul {
    width: 40%;
  }
}
.landin-page .img-box {
  margin: 95px 0;
}
.landin-page .img-box img {
  padding: 0;
}
/* about us*/
.about-us .text-box h2 {
  color: var(--main-color);
  letter-spacing: 2px;
  font-weight: 600;
  position: relative;
  margin-bottom: 12px;
}
.about-us .text-box h2::after {
  content: " ";
  position: absolute;
  bottom: -1px;
  left: 0px;
  width: 183px;
  height: 3px;
  background-image: linear-gradient(45deg, var(--underline), transparent);
}
.about-us .text-box p {
  width: 60%;
  line-height: 1.8;
  color: #9a9a9a;
}
/* who we are  */
.who-war {
  margin: 50px 0;
}
.who-war .img-cont {
  position: relative;
  height: 700px;
}
.who-war .img-cont img {
  width: 100%;
  height: 100%;
}
.who-war .text-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 700px;
}
.who-war .text-cont h3 {
  color: var(--main-color);
  letter-spacing: 2px;
  margin-bottom: 12px;
}
.who-war .text-cont p {
  color: #9a9a9a;
  line-height: 1.8;
}
@media (max-width: 767px) {
  .who-war .img-cont {
    display: none;
  }
}
/* our services */
.our-services {
  margin: 80px 0;
}
.our-services h2 {
  color: var(--main-color);
  margin-bottom: 80px;
  font-weight: 600;
  position: relative;
}
.our-services h2::after {
  content: " ";
  position: absolute;
  bottom: -6px;
  left: 16px;
  width: 207px;
  height: 3px;
  background-image: linear-gradient(45deg, var(--underline), transparent);
}

.our-services .cont {
  display: flex;
}
.our-services .cont > div {
  padding: 0;
  margin: 0;
}
.our-services .cont > div h3 {
  line-height: 228px;
  margin: auto;
  width: 200px;

  position: relative;
}
.our-services .cont > div h3::after {
  content: " ";
  position: absolute;
  bottom: 88px;
  left: -2px;
  width: 183px;
  height: 3px;
  background-image: linear-gradient(268deg, var(--border-color), transparent);
}
/* partners */
.partners h2 {
  color: var(--main-color);
  margin-bottom: 30px;
  font-weight: 600;
  position: relative;
  font-size: 35px;
  letter-spacing: 1.5px;
}
.partners h2::after {
  content: " ";
  position: absolute;
  bottom: -6px;
  left: 0px;
  width: 183px;
  height: 3px;
  background-image: linear-gradient(45deg, var(--border-color), transparent);
}
.partners .part-icons .col-2 img {
  width: 70%;
}
/* footer */
footer {
  margin: 50px 0;
  background-color: var(--main-color);
  padding: 50px 0;
  color: #fff;
}
footer .left h2 {
  font-weight: bold;
  font-size: 50px;
  width: 300px;
  margin-bottom: 130px;
  color: #fff;
}
footer .left p {
  color: #d2d4db;
}
footer .right {
  text-align: right;
}
footer .right h6 {
  margin: 25px 0;
  color: #e3e3ed;
  font-weight: bold;
}
footer .right p {
  margin-bottom: 2px;
  color: #d2d4db;
}
footer .right .brands {
  margin-top: 70px;
}
footer .right .brands span {
  padding-left: 20px;
}
